.chessboard {
    display: flex;
    flex-wrap: wrap;

    background-image: url("../assets/boards/wood4.jpg");
    background-size: contain;

    width: 800px;
    height: 800px;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
}

.tile img {
    width: 100%;
}

/* .light {
    background-color: var(--light);
}

.dark {
    background-color: var(--dark);
} */